.debug {
     border: red 2px solid;
}

* {    
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.4;
}
    

/*---------> GENERAL STYLES <---------*/

body {
    font-size: 1rem;
    background: #f2f2f2;
    color: #111;
}

#wrapper {  
    margin-right: auto;
    margin-left: auto; 
}

.p5_topRight {       
    position: absolute;
    margin: 0;
    right: 10px;
    top: 5px; 
    /*relative only to the first parent element that has a "RELATIVE" position.*/
}

/*---------> GENERAL STYLES <---------*/

.page_header {
    background-color: #559155; 
 
    position: relative;
    text-align: center;  
 
    padding: 5px 0 10px;
    margin: 0 0 10px;
}

.page_title {
    margin: 0;
    font-size: 28px;
}

.page_subtitle {
    margin: 0; 
}

/*---------> FORM styles <---------*/
#pms_form button,
#pms_form label {    
    padding: 3px 8px 3px 0;
    vertical-align: text-top;   
}

#pms_form {
    /*background: #f2f2f2;*/
    font-size: 13px;
    font-family: Arial,sans-serif;
}

.pms_fieldset {
    padding: 0;
    margin-bottom: 15px;
    border-width: 0 0 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.pms_legend { 
    width:100%;
    max-height:34px;
    padding:5px;
    margin-bottom: 10px;
    background: #ADCFAD;
    font-weight: bold;
    font-size: 15px;
}

.pms_lbl_input_pair {  

    /*padding: 3px 8px*/
    padding-right: 10px;
    padding-left: 10px;   
    /*text-align: right;   */
    width: 100%;
    margin-bottom: 10px;
}

.pms_lbl_input_pair > label,
.pms_lbl_input_pair .lbl_of_ctrl {
    /*if display = block*/
    display: block; 
    width: 100%;
    font-weight: bold;    
}

.pms_lbl_input_pair .ctrl_of_lbl {  
    /*if display = block*/
    display: block; 
    width: 100%;    
}

/*temprary dfault styln for plass form cntrols*/
#pms_form input,
#pms_form select,
#pms_form .pms_control {       
    background-color: #E8EEEF;        
    border-radius: 4px;
    border: 1px inset; /*depth style*/
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF; /*depth style*/
    padding: 3px 7px;
    height: 31px;
    font-size: 14px;
    vertical-align: middle;

    border-top:#949494;
    border-right: #a6a6a6;
    /*border-bottom: #a6a6a6;*/
    border-left: #a6a6a6;        
} 

#pms_form input[type="date"] {
    /*just diff padding for date input type*/
     padding: 2px 5px;       
} 

#pms_form input:focus,
#pms_form select:focus,
#pms_control:focus {
    border-color: black;
    box-shadow: 0 0 8px #236aed;    
    outline: 0;
    font-size: 15px;
    font-weight: bold;
}

#status {
    width: 35px;
    /*border:red 2px solid;*/
}

@media( min-width: 776px ) {

    #pms_form label {    
        padding: 3px 8px;
    }       

    .pms_lbl_input_pair > label,
    .pms_lbl_input_pair .lbl_of_ctrl {
        /*if inline block;  */
        display: inline-block; 
        margin-right: -3px; 
        margin-bottom: 10px;
        text-align: right;
        vertical-align: -webkit-baseline-middle;            
        width: 40%; 
    }


    .pms_lbl_input_pair .ctrl_of_lbl {  
    /*if inline block;  Del if display != inline-block*/
        display: inline-block;  
        margin-right: -3px;  
        width: 60%;    
    }

    .pms_fieldset {
        width: 500px;
    }
}